*,
*::after,
*::before{
    box-sizing: border-box;
}
/* Typograph and colorpallet */
html{
    /* Always set the the html element to 62.5% */
    /* this means 1 rem is 10px to uplif from the heading*/
    font-size: 62.5%; 
}
/*Here we have defined our color pallets*/
/*this colors are i dentified from the design*/
:root {
    --color-primary : #2584ff;
    --color-secondary: #00d9ff;
    --color-accent : #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    /* this 2 updates are for recurring/repeatitive values encoutered during building */
    --color-border: #ccc;
    --border-radius: 30px;


}   
/*I am gonna set all the font family here so that all the elements inherit it.*/
body{
    font-family: inter,Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size:2.4rem;
    line-height: 1.5;


}
/*Universal Rule for heading colors*/
h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

/*Universal Rule for heading fonts(In photoshop px are used as measurements we dont want to use px in our font sizing bcoz they are absolute units*/ 
h1{
    /* rem value * size of the html element */
    /* By default the font size of an Html element is 16px*/
    /* So we shall have to set our html element size */
    /* Tip set the tml font size to 62.5% */
    font-size: 7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    /* Again here we use a ruler feature in adobeps to measure the distance between our text en the h3///we do the samething with the h1 en h2 */
    /* But instead of setting the rule here yet the other headings also share the same rule we shall make it universal for headingd
    Like how we did for the colors  */
}
p{
    /* Because in of the border collapsing since the value is greater
    chances are that the browser will set its margin
    which will interfere with the our h3 margin-button feature. There for we will have to set the margin-top to 0 for perfection */
    margin-top: 0;
}
@media screen and (min-width: 1024) {
    /* Again this font-sizes are extructed from the design
    look at the design font-text and then comapare it with
    you commmon sence to visualise what you are doing */
    body{
        font-size: 1.8rem;

    }
    h1{
        font-size:8rem;
    }
    h2{
        font-size:4rem;
    }
    h3{
        font-size:2.4rem;
    }
}
/* Links */

a{
    text-decoration: none;
}
/* //NOTE//:  This is our mobile version as always start with a mobile design*/
.link-arrow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after{
    margin-left: 10px;
}
/* this looks like duplication but the reason to why i did that */
/* is that i don't want to have one particular place to have all the media query*/
/* Like as we know media queries are arbituary */
@media screen and (min-width: 1024px) {
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* Under the section of badges we gonna use Object Oriented CSS */
/* So this is gonna be an example of OOC at the same time working on our projects */
/* .......BADGES.... */

/* badge structure */
.badge{
    /* Here we use an fixed value because we don't want it to 
    change relative to the body-font */
    border-radius: 20px;
    font-weight: 600;
    padding: 0.5rem 2rem;
    /* we use the nowrap in order to keeep what ever we put inside the badge to stay on a single line  */
    font-size: 2rem;
    white-space: nowrap;
    

}
/* budge skin */

/* we use to highthens to separate the a block or component
from the modifier */
.badge--primary {
    background: var(--color-primary);
    color: #fff;
}

.badge--secondary{
    background: var(--color-secondary);
    color: #fff;
}

/* Now lets make rules for the small badges */
.badge--small{
    font-size: 1.6rem;
}
/* this is a media queri for the big screems desktops and tablets */

@media screen and (min-width:1024) {
    .badge{
        font-size: 1.5rem;
    }

    .badge--small{
        font-size: 1.2rem;
    }
}

/* Lists */
.list{
    list-style: none;
    /* to get rid of the padding that is defaultly applied by the browsers */
    /* i will set the padding left to 0 */
    padding-left: 0;
    color:var(--color-headings)
}

/* this list are laid horizontally but here we shall use the OOCSS */
/* As we stated already we use -- to separate a component from a modifier */
.list--inline .list__item{
    /* using inline-block is a good way because we can apply margin */
    /* but using just inline it will limit us to applying the margin */
    display: inline-block;
    margin-right: 2rem;
}

.list--tick{
    /* to insert the picks */
    list-style-image: url(/images/tick.svg);
    /* to view the ticks since the list-items are to close to the margin */
    padding-left: 3rem;
}


.list--tick .list__item{
    padding-left: 0.5rem;  /*this is to add space between the ticks and the list content*/
    margin-bottom: 1rem; /*this is to add space between list items at the buttom*/

}

/* this is to apply the padding on the desktop screens of list style and content is small */
@media screen and (min-width: 1024px) {
    .list--tick .list__item{
        padding-left: 0;
    }
    
}

/* .....ICONS....... */
/* Icon on bith desktop and mobile design dont change in size */
/* therefore no media quries when dealing with icons */
/* therefore its required to use px to keep their size fixed */
/* size */
.icon{
    width: 40px;
    height: 40px;
}


/* Why are we using the hythen on this selesctor */
/* this is not a vaiation or a modifier*/
/* this is entirely new class */
/* and in BEM we use a hythen to separate multiple words */
.icon-container{
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    /* this property to to make our icon flexible */
    display: inline-flex;
    /* this last two properties are to alight the icon in the center horizontally anf vertically repectively */
    justify-content: center;
    align-items: center;
    
}

/* NOTE: if you use span, the width and height properties
have no effect o span element thus remodify your span element and 
five it a display of inline-block */

/* the reson we dont use inline-block is that we dont want to lne 
break if we need to put our span element next to another element */

/* But in icon we may want to use inline-flex because the icon
may be uncentered in the area we have specifies but using inline-flex
will  */


/*....... color / skin...... */

.icon--primary{
    fill: var(--color-primary);
}
/* summary: this is called OOCSS. structure separated from skin */

/* .......BUTTOM IMPLEMENTATON.... */
.btn{
    border-radius: 40px;
    border:0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
}

.btn--primary{
    background:var(--color-primary);
    color: #fff;
}
/* we have used a color outside of our color pallet beacuase */
/* we have not studient SAS where you can lighten and darken colors that are in your color pallet */
.btn--primary:hover{
    background: #3a8ffd;
}

.btn--secondary{
    background: var(--color-secondary);
    color: #fff;
}
/* same apllies to this */
.btn--secondary:hover{
    background: #00c8eb;
}

.btn--accent{
    background: var(--color-accent);
    color:#fff
}
/* same to this */
.btn--accent:hover{
    background: #ec3000;
}

.btn--outline{
    background: #fff;
    color:var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover{
    background: var(--color-headings);
    color: #fff;
}
/* skin for block buttons */
.btn--block{
/* we have to change the display to inline block because by default
anchor elements are inline  */
/* And inline elements cant take width and height values */
    display: inline-block;
    width: 100%;
}

/* Desktop version of button */
@media screen and (max-width: 1024px) {
    .btn{
        font-size: 1.5rem;
    }
}

/* .....INPUT IMPLEMETATION.... */
.input {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border);
    color: var(--color-headings);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
}

::placeholder{
    color: #cdcdd7;
}

/* desktop version of inputs */
@media screen and (min-width: 1024px){
    .input{
        font: size 1.5rem;
    }
}

/* Rule to combine both the search and the input element */
.input-group{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input{
    border: 0;
    flex-grow: 1;
    /* inspect the element and get the best option */
    /* look at the box in the inspect elements */
    padding: 1.5rem 1rem;
}

.input-group .btn{
    margin: 4px;
}

.input-group .icon{
    margin: 4px;
    margin-top: 1.2rem;
    margin-left: 1rem;
}